* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

body section {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 200px;
}

.form {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px gray;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 2px 5px gray;
}

body section .form form {
    width: 350px;
    height: auto;
}

body section .form form table {
    margin: 0 auto;
}

/* .align-modify {
    text-align: center;
} */

#validate-id,
#validate-name,
#validate-email,
#validate-phone,
#validate-address {
    color: lightcoral;
    visibility: hidden;
}

.input-modify {
    width: 200px;
    padding-left: 10px;
}

.input-modify input {
    width: 200px;
    height: 25px;
    padding: 3px;
    border: none;
    box-shadow: 0px 0px 3px gray;
    border-radius: 3px;
}

.gender-modify {
    padding-left: 35px;
    /* text-align: center; */
}

.alert-modify {
    padding-left: 10px;
    /* text-align: center; */
}

body section .form form #save {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}

/* Student List Table */
.container-table {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px gray;
}

.second-table {
    width: 700px;
    height: auto;
}

.container-table h2 {
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 2px 5px gray;
}

.container-table .second-table,
.container-table .second-table th,
.container-table .second-table td {
    border: 1px solid;
    text-align: center;
}