* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 602px;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "a a"
        "a a"
        "b c"
        "b d"
        "b f"
        "e f";
    row-gap: 2px;
    column-gap: 2px;
}

.article-1 {
    padding-top: 5px;
    padding-left: 20px;
    grid-area: a;
    background-image: url(./img/Balloons.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.article-1 p {
    font-size: 14px;
}

.article-2 {
    grid-area: b;
    background-image: linear-gradient(0, rgba(51, 51, 51, 0.3), rgb(204, 204, 204, 0.3)), url(./img/special\ shape.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.article-2 p {
    font-size: 14px;
}

.article-2 div {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.article-3 {
    grid-area: c;
    background-image: linear-gradient(0, rgba(51, 51, 51, 0.6), rgb(0, 0, 0, 0.5)), url(./img/balloons\ 2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.article-3 p {
    font-size: 14px;
}

.article-3 div {
    position: absolute;
    left: 5px;
}

.article-4 {
    grid-area: d;
    background-image: url(./img/balloons\ photo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.article-4 p {
    font-size: 14px;
}

.article-4 div {
    position: absolute;
    left: 5px;
}

.article-5 {
    grid-area: e;
    background-image: linear-gradient(0, rgba(51, 51, 51, 0.6), rgb(0, 0, 0, 0.5)), url(./img/Think\ about\ balloons.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.article-5 p {
    font-size: 14px;
}

.article-5 div {
    position: absolute;
    left: 5px;
}

.article-6 {
    grid-area: f;
    background-color: rgb(124, 12, 32);
    color: white;
    position: relative;
}

.article-6 p {
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.article-6 button {
    width: 160px;
    font-size: 12px;
    padding: 2px;
    position: absolute;
    bottom: 10px;
    left: 70px;
}
